/* IMPORTS */
/* Correct import structure set up: variables, fonts, base, utilities, sections */

/* utils/_index.scss */
@forward './utils/variables';

/* utils */
/* Write them first - otherwise SASS won't find the variable, etc.*/
@use './utils/fonts' as *;
@use './utils/texts' as *;
@use './utils/utils' as *;

/* base */
@use './base' as *;

/* components */
@use './components/buttons' as *;
// @import './components/cards'; /* CARDS - картки*/
// @import './components/form-terms'; /* FORM-TERMS - умови форми*/
// @import './components/inputs'; /* INPUTS - посилання */
// @import './components/links'; /* LNKS - посилання */
// @import './components/pagination'; /* PAGINATION - пагінація */

// /** sections **/
// /* main layout styles */
@use './layauts/section' as *;
// /* extra styles for specific sections */
@use './layauts/header' as *;
@use './layauts/hero-section' as *;
@use './layauts/intro-section' as *;
@use './layauts/why-us-section' as *;
// @import './layauts/advantages-section'; /* ADVANTAGES SECTION - секція сайту */
// @import './layauts/traditions-section'; /* TRADITIONS SECTION - секція сайту */
// @import './layauts/chefs-section'; /* CHEFS SECTION - секція сайту */
// @import './layauts/formats-section'; /* FORMATS SECTION - секція сайту */
// @import './layauts/contact-section'; /* CONTACT SECTION - секція сайту */
// @import './layauts/mobile-menu'; /* MOBILE MENU - мобільне меню */
// @import './layauts/modal'; /* MODALS - модальне вікно */
// @import './layauts/footer'; /* FOOTER - футер сайту */
