/* Utility class to visually hide elements while keeping them accessible to screen readers */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
