@use '../utils' as *;

/* SERVICES SECTION - секція сайту */
.conversion-section {
  &__container {
    padding-left: 90px;
    padding-right: 90px;
  }

  &__title {
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  &__map {
    flex: 1;
    @media screen and (min-width: $bp--tablet) {
      border-radius: 32px;
    }
  }
}
