@use '../utils' as *;

/* FOOTER */
.footer {
  position: relative;
  background-color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-primary-main);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0px;
    gap: 32px;

    @media (min-width: $bp--tablet) {
      flex-direction: row;
      align-items: start;
      padding: 56px 64px;
    }
  }

  &__item {
    flex: 1;
  }

  &__link {
    color: var(--color-primary-main);
    text-decoration: none;
  }

  &__logo {
    flex-grow: 1;
  }

  &__nav {
    display: flex;
    text-align: center;
    @media (min-width: $bp--tablet) {
      flex-direction: column;
      text-align: left;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
  }

  &__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }

  &__address-contacts {
    display: none;
    @media (min-width: $bp--tablet) {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__address-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__icon-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    text-decoration: none;
  }

  &__address-icon {
    color: var(--color-primary-main);
    width: 32px;
    height: 32px;
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    @media (min-width: $bp--tablet) {
      text-align: left;
    }
  }

  &__copyright-text {
    color: var(--color-secondary-weak);
  }
}
