@use '../utils' as *;

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  &__container {
    display: flex;
    align-items: center;
    height: 106px;
    gap: 40px;
  }

  &__nav {
    height: 42px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp--tablet) {
      display: flex;
      gap: 64px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__burger {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0px;
    fill: var(--color-primary-light);

    @media screen and (min-width: $bp--desktop) {
      display: none;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
