@use '../utils' as *;

/* HEADER */
.header {
  position: absolute;
  top: 20px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  @media screen and (min-width: $bp--tablet) {
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  @media screen and (min-width: $bp--tablet) {
    top: 0px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    @media screen and (min-width: $bp--tablet) {
      padding: 32px 64px;
    }
  }

  &__logo {
    height: 42px;
  }

  &__nav {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    display: none;
    @media screen and (min-width: $bp--tablet) {
      display: flex;
      justify-content: space-between;
      gap: 16px;
    }
    @media screen and (min-width: $bp--desktop) {
      gap: 64px;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__icon-list {
    display: none;

    @media screen and (min-width: $bp--tablet) {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  &__icon-link {
    height: 32px;
  }

  &__icon {
    color: var(--color-primary-accent);
    width: 32px;
    height: 32px;
  }

  &__burger {
    background-color: transparent;
    border: none;
    padding: 0px;
    fill: var(--color-primary-main);
    @media screen and (min-width: $bp--tablet) {
      display: none;
      background: none;
      border: none;
      cursor: pointer;
    }
    svg {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
    }
  }
}
