@use '../utils' as *;

/* INTRO SECTION */
.intro-section {
  &__container {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $bp--tablet) {
    }

    @media screen and (min-width: $bp--desktop) {
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp--tablet) {
      padding: 40px 30px 40px 0px;
      max-width: 600px;
    }

    @media screen and (min-width: $bp--desktop) {
    }

    h2 {
      padding-top: 50px;
    }

    .text-brand {
      color: var(--color-primary-accent);
    }
  }

  &__results {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 500px;
    position: relative;

    .star-icon {
      position: absolute;
      fill: rgb(16, 167, 222);
    }

    .star-icon--large {
      top: 340px;
      left: 130px;
      svg {
        width: 64px;
        height: 64px;
        transform: rotate(-25deg);
        fill: var(--color-secondary-dark);
      }
    }

    .star-icon--medium {
      top: 60px;
      right: 20px;
      svg {
        width: 40px;
        height: 40px;
        transform: rotate(25deg);
        fill: var(--color-primary-accent);
      }
    }

    .star-icon--small {
      top: 270px;
      right: 70px;
      svg {
        width: 16px;
        height: 16px;
        transform: rotate(-15deg);
        fill: var(--color-secondary-weak);
      }
    }
  }

  &__img-circle {
    display: none;
    position: relative;
    width: 328px;
    height: 328px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    @media screen and (min-width: $bp--tablet) {
      display: block;
      align-self: flex-start;
    }

    img {
      position: absolute;
      top: 50px;
      left: 170px;
      width: 100%;
      height: auto;
      object-fit: cover;
      transform: scale(2.1);
    }

    &--after {
      align-self: flex-end;

      img {
        top: 40px;
        left: -175px;
      }
    }
  }
}
