@use '../utils/variables' as *;

/* SECTION */
/* Styles for all sections */
.section {
  padding: 24px 0px;

  @media screen and (min-width: $bp--tablet) {
    padding: 48px 0px;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    &--centered {
      text-align: center;
    }

    @media screen and (min-width: $bp--tablet) {
      font-size: 64px;
      line-height: 1.5;
    }
  }
}
