@use '../utils' as *;

/* SERVICES SECTION - секція сайту */
.services-section {
  &__container {
    padding-left: 90px;
    padding-right: 90px;
  }

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 344px;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 4px 120px 4px 120px;
  }

  &__text {
    position: absolute;
    bottom: 20px;
    font-size: 18px;
    color: var(--color-primary-main);
  }
}
