@use '../utils' as *;

/* WHY US SECTION - секція сайту */
.why-us-section {
  position: relative;

  &__container {
    padding-left: 90px;
    padding-right: 90px;
  }

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 24px;
    width: 320px;
    background-color: var(--color-primary-main);
    border-radius: 32px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgb(168 198 245 / 0.65);
  }

  &__icon {
    margin-bottom: 8px;
  }
}

.why-us-section::before {
  content: '';
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 700px;
  background-image: url('../images/wave-beta.svg');
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent);
  mask-image: linear-gradient(to bottom, black 70%, transparent);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  z-index: -1;
}
