@use '../utils' as *;

/* FORMS */
.call-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 56px;
  min-width: 320px;
  height: 480px;
  border-radius: 32px;
  background-color: var(--color-primary-dark);
  text-align: center;

  @media screen and (min-width: $bp--tablet) {
    width: 420px;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-primary-main);
    margin-bottom: 32px;
  }

  &__button {
    margin: 8px 0px;
  }

  &__terms {
    font-size: 12px;
    color: var(--color-secondary-weak);
  }

  &__terms-link {
    text-decoration: underline;
  }
}
