@use '../utils' as *;

/* INPUTS */
.input {
  &__label {
    display: block;
  }

  &__control {
    margin: 12px 0px;
    padding: 16px 24px;
    width: 240px;
    border: 2px solid var(--color-secondary-weak);
    border-radius: 32px;
    color: var(--color-primary-main);
    background-color: transparent;
    font-style: 16px;
    line-height: 1.17;
    outline: none;
    transition: background-color 0.3s ease;

    @media screen and (min-width: $bp--tablet) {
      width: 312px;
      padding: 16px 32px;
    }

    &:hover {
      border: 1px solid var(--color-secondary-weak);
      outline: none;
      background-color: var(--color-secondary-weak);
    }

    &::placeholder {
      color: var(--color-primary-main);
      font-style: 16px;
      line-height: 1.17;
    }

    &:focus::placeholder {
      color: var(--color-primary-main);
    }
  }
}
